.title {
    display: flex;
    flex-direction: row;

    height: fit-content;
    width: 100%;

    justify-content: center;
    align-items: center;

    font-family: var(--font-face-main);
    text-align: center;
}

.title > img {
    max-height: 6rem;
}

.bouncer {
    position: absolute;
    display: inline-block;
    height: 8rem;
    width: 8rem;
    background-color: transparent;
    text-decoration: none;
    font-family: sans-serif;
    cursor:
        var(--cursor-pointer) 24 24,
        auto;
    z-index: 10;
}

.bouncer img {
    height: 8rem;
    width: 8rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

@media (prefers-reduced-motion: reduce) {
    .bouncer {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .bouncer,
    .bouncer img {
        height: 4rem;
        width: 4rem;
    }

    .title {
        font-size: var(--font-size-standard);
        line-height: 3rem;
    }

    .title > img {
        max-height: 4rem;
    }
}
